openapi: 3.2.0
info:
  title: OpsRamp Jobs API
  description: OpsRamp is an AIOps and IT operations management platform. The REST API covers authentication, resources, alerts, monitoring, tickets, and automation jobs.
  version: '2.0'
servers:
- url: https://api.opsramp.com
  description: OpsRamp API
tags:
- name: Jobs
paths:
  /{tenantId}/jobs:
    parameters:
    - $ref: '#/components/parameters/TenantId'
    post:
      summary: Create automation job
      operationId: createJob
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
      tags:
      - Jobs
  /{tenantId}/jobs/{jobId}/run:
    parameters:
    - $ref: '#/components/parameters/TenantId'
    - name: jobId
      in: path
      required: true
      schema:
        type: string
    post:
      summary: Execute a scheduled job
      operationId: runJob
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
      tags:
      - Jobs
components:
  responses:
    Generic:
      description: Successful response
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  requestBodies:
    Generic:
      required: true
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  parameters:
    TenantId:
      name: tenantId
      in: path
      required: true
      schema:
        type: string
x-generated-from: https://develop.opsramp.com/v3
x-generated-by: claude-crawl-2026-05-08
