openapi: 3.1.0
info:
  title: OpsRamp API
  description: >-
    OpsRamp is an AIOps and IT operations management platform. The REST API
    covers authentication, resources, alerts, monitoring, tickets, and
    automation jobs.
  version: "2.0"
x-generated-from: https://develop.opsramp.com/v3
x-generated-by: claude-crawl-2026-05-08
servers:
  - url: https://api.opsramp.com
    description: OpsRamp API
paths:
  /tenancy/auth/oauth/token:
    post:
      summary: Obtain OAuth 2.0 access token using client credentials
      operationId: getAccessToken
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{clientId}/resources:
    parameters:
      - $ref: '#/components/parameters/ClientId'
    post:
      summary: Create a new resource
      operationId: createResource
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{clientId}/resources/{resourceId}:
    parameters:
      - $ref: '#/components/parameters/ClientId'
      - name: resourceId
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Retrieve resource details
      operationId: getResource
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{tenantId}/resources-search:
    parameters:
      - $ref: '#/components/parameters/TenantId'
    get:
      summary: Search resources with filtering
      operationId: searchResources
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{clientId}/alerts:
    parameters:
      - $ref: '#/components/parameters/ClientId'
    post:
      summary: Create alerts on resources
      operationId: createAlert
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{tenantId}/alerts/{alertId}:
    parameters:
      - $ref: '#/components/parameters/TenantId'
      - name: alertId
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Fetch alert details
      operationId: getAlert
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{tenantId}/alerts-search:
    parameters:
      - $ref: '#/components/parameters/TenantId'
    get:
      summary: Search alerts
      operationId: searchAlerts
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{clientId}/alerts/{alertId}/actions/{action}:
    parameters:
      - $ref: '#/components/parameters/ClientId'
      - name: alertId
        in: path
        required: true
        schema:
          type: string
      - name: action
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Execute an action on an alert
      operationId: alertAction
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{tenantId}/monitoring/templates-search:
    parameters:
      - $ref: '#/components/parameters/TenantId'
    get:
      summary: Search monitoring templates
      operationId: searchMonitoringTemplates
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{tenantId}/resourcemonitors:
    parameters:
      - $ref: '#/components/parameters/TenantId'
    post:
      summary: Create resource monitors
      operationId: createResourceMonitor
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{clientId}/resources/{resourceId}/templates:
    parameters:
      - $ref: '#/components/parameters/ClientId'
      - name: resourceId
        in: path
        required: true
        schema:
          type: string
    get:
      summary: View templates assigned to a resource
      operationId: listResourceTemplates
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{clientId}/ticketentity:
    parameters:
      - $ref: '#/components/parameters/ClientId'
    post:
      summary: Create a ticket
      operationId: createTicket
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{tenantId}/ticketentity-search:
    parameters:
      - $ref: '#/components/parameters/TenantId'
    get:
      summary: Search tickets
      operationId: searchTickets
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{clientId}/ticketentity/{ticketId}/actions:
    parameters:
      - $ref: '#/components/parameters/ClientId'
      - name: ticketId
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Update a ticket with an action
      operationId: updateTicket
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{tenantId}/jobs:
    parameters:
      - $ref: '#/components/parameters/TenantId'
    post:
      summary: Create automation job
      operationId: createJob
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
  /{tenantId}/jobs/{jobId}/run:
    parameters:
      - $ref: '#/components/parameters/TenantId'
      - name: jobId
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Execute a scheduled job
      operationId: runJob
      requestBody:
        $ref: '#/components/requestBodies/Generic'
      responses:
        '200':
          $ref: '#/components/responses/Generic'
components:
  parameters:
    ClientId:
      name: clientId
      in: path
      required: true
      schema:
        type: string
    TenantId:
      name: tenantId
      in: path
      required: true
      schema:
        type: string
  requestBodies:
    Generic:
      required: true
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  responses:
    Generic:
      description: Successful response
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
